@model List<ResultBookingDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Guest</th>
                            <th>Entry Date</th>
                            <th>Departure Date</th>
                            <th>Status</th>
                            <th>Accept</th>
                            <th>Denie</th>
                            <th>Hold</th>
                            <th>Edit</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            count++;
                            <tr>
                                <th>@count</th>
                                <td>@item.Name</td>
                                <td>@(((DateTime)item.CheckIn).ToString("dd-MMM-yyyy"))</td>
                                <td>@(((DateTime)item.CheckOut).ToString("dd-MMM-yyyy"))</td>
                                <td><span class="badge badge-primary px-2">@item.Status</span></td>
                                <td><a href="/BookingAdmin/ApprovedReservation/@item.BookingID" class="btn mb-1 btn-rounded btn-outline-success">Accept</a></td>
                                <td><a href="#" class="btn mb-1 btn-rounded btn-outline-danger">Denie</a></td>
                                <td><a href="#" class="btn mb-1 btn-rounded btn-outline-primary">Hold</a></td>
                                <td><a href="#" class="btn mb-1 btn-rounded btn-outline-info">Edit</a></td>
                                <td><a href="#" class="btn mb-1 btn-rounded btn-outline-dark">Details</a></td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
